@using AnimalShelter.Models


@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal;

<h4>Add a new Animal</h4>

@using (Html.BeginForm())
{
  @Html.DropDownListFor(model => model.Type,
  new SelectList(Enum.GetValues(typeof(AnimalType))),
  "Select Type")
  @* @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type) *@
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.DropDownListFor(model =>model.Gender,
  new SelectList(Enum.GetValues(typeof(Gender))),
  "Select Gender")
  @* @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender) *@
  @* @Html.LabelFor(model => model.Admittance)
  @Html.TextBoxFor(model => model.Admittance) *@
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  <input type="submit" value="Add new animal" />
}

<p>@Html.ActionLink("Show all animals", "Index")</p>